@import '~bootstrap/scss/bootstrap.scss';

.pointer {
    cursor: pointer;
}

html, body {
    background-color: #1fc8db;
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
}

label {
    margin-bottom: .25rem;

    &.label-required {
        &.required::after {
            content: "*";
            display: inline-block;
            color: #FF4757;
            margin-left: 5px;
        }
    }
}

.jumbotron {
    padding: 25px;
}
.sidebar {
    ul {
        box-shadow: 0px 0px 20px 0px #8091b1;
        li {
            border: 1px solid #4c91dc !important;
        }
    }
}
.main-page-container {
    color: #3e3734;
    box-shadow: 0px 0px 20px 0px #b3aeae;
    .container {
        &-wrapper {
            background: #fffdfd;
        }
        &-header {
            background: #f7eeee;
            &-img {
                img{
                    width: 200px;
                }
            }
            &-name {
                text-shadow: 2px 2px 8px #c8ffd6;
            }
        }
        &-table {
            color: #3e3734;
        }
        &-company {
            svg {
                color: #91346b;
            }
        }
    }
    h5 {
        color: #92346c;
    }
    h4 {
        color: #520332;
    }
}